params {
    genotypes  = "data/genotypes_demo.csv"
    phenotypes = "data/phenotypes_demo.csv"
    outdir     = "results"
}

process {
    executor = 'slurm'
    queue    = 'standard'
    cpus     = 4
    memory   = '8 GB'
    time     = '1h'
}

profiles {

    local {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue    = 'standard'
    }
}
